<table class="reviews">

<% Review.last(10).each do |review| %>
  <tr>
    <td class="review">
      <span class="name"><%= review.name %></span>:
      <span class="review"><%= review.review %></span>   
    </td>
  </tr>
<% end %>
</table>

<%= link_to 'New Review', new_review_path %>|<%= link_to 'Show All', reviews_path %>