<div class="row">
  <div class="span6">
    <table class="table">
    <td><span><h3>Отзывы:</h3></span></td>
    <% Review.last(10).each do |review| %>
      <tr>
        <td class="review">
          <span class="name"><%= review.name %></span>:
          <span class="review"><%= review.review %></span>   
        </td>
      </tr>
    <% end %>
    </table>
    
    <%= link_to 'Оставить Отзыв', new_review_path %>|<%= link_to 'Показать Все', reviews_path %>
  </div>
</div>