<div id="footer">
  <div class="container">
    <footer class="footer">
      <small>
        <a href="http://ferret.pp.ua/">Santeh</a>
        by Ferret
      </small>
      <nav>
        <ul>
          <li><%= link_to "О Нас" %></li>
          <li><%= link_to "Контакты" %></li>
          <li><a href="http://news.railstutorial.org/">Новости</a></li>
        </ul>
      </nav>
    </footer>
  </div>
</div>