<footer>
  <nav class="round">
    <ul>
      <li><%= link_to 'About' %></li>
      <li><a href="http://news.railstutorial.org/"><%= 'News' %></a></li>
      <li><a href="http://www..../help"><%= 'Help' %></a></li> 
    </ul>
  </nav>
</footer>